<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<link th:href="@{/styles/cssandjs/unilearn.css}" rel="stylesheet" />
<title>Product</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>
<body>	
	<!-- Include  _header.html -->
     <th:block th:include="header.html"></th:block>
	<section class="mt-4 mb-4">
		<div class="container my-5">
        <h3> Add product</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/admin/save}"  enctype="multipart/form-data" th:object="${product}"   method="post">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="name" class="col-form-label">Name</label> 
                                <input type="text" th:field="*{name}" class="form-control" 
                                            id="name" placeholder="Name" />
                                  
                            </div>
                            <div class="form-group col-md-8">
                                <label for="content" class="col-form-label">content</label> 
                                <input type="text" th:field="*{content}" class="form-control" 
                                            id="content" placeholder="content" />
                                 
                            </div>
                            <div class="form-group col-md-8">
                                <label for="authorName" class="col-form-label">authorName Name</label> 
                                <input type="text" th:field= "*{authorName}"class="form-control" 
                                            id="authorName" placeholder="authorName" />
                                           
                            </div>
    
                            <div class="form-group col-md-8">
                            	<label class="custom-file-label" for="customFile">Choose file</label>
                               <input type="file"  class="custom-file-input" id="customFile" name="file">
                       			 
                            </div>
						<input type="hidden" id="id" th:field="*{id}">
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value=" Submit ">
                            </div>

                            
    
                        </div>
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" 
                       			 th:errors="*{name}"></div>
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('content')}" 
                       			 th:errors="*{content}"></div> 
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('authorName')}" 
                       			 th:errors="*{authorName}"></div>
                        <div class="alert alert-warning" th:if="${image != null}"
               				th:text="${image}">
                       			 </div> 
                        <div class="alert alert-success" th:if= "${success != null}" th:text="${success}"></div>
                        <div class="alert alert-danger" th:if= "${error != null}" th:text="${error}"></div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>

	</section>
	<!-- Include  footer.html -->
     <th:block th:include="footer.html"></th:block>
</body>
</html>