<footer xmlns:th="http://www.thymeleaf.org">
		<div class="v-p01">
			<div class="v-f01 v-a1">
				<h3>ABOUT US</h3>
				<i class="material-icons">check_circle_outline</i>
			</div>
			<b>Sed aliquet dui auctor blandit ipsum tincidunt </b>
			<p>Quis rhoncus lorem dolor eu sem. Aenean enim risus, convallis
				id ultrices eget.</p>
			<p>
				<i class="material-icons">phone</i>123-123456789
			</p>
			<p>
				<i class="material-icons">email</i>uni@domain.com
			</p>
			<p>
				<i class="material-icons">http</i>www.sample.com
			</p>
			<p>
				<i class="material-icons">home_work</i> 250 Biscayne Blvd. (North)
				11st Floor New World Tower Miami, 33148
			</p>
			<div class="social-icon">
				<div>
					<a href="#"><i class="fab fa-facebook"></i></a>
				</div>
				<div>
					<a href="#"><i class="fab fa-twitter"></i></a>
				</div>
				<div>
					<a href="#"><i class="fab fa-instagram"></i></a>
				</div>
				<div>
					<a href="#"><i class="fab fa-youtube"></i></a>
				</div>
			</div>
		</div>

		<div class="v-p01">
			<div class="v-f01 v-a2">
				<h3>Latest POSTS</h3>
				<i class="material-icons">alarm</i>
			</div>
			<div class="v-f03">
				<div class="v-f02">
					<img src="images/footer01.png" alt="">
					<p>Image post List, Media</p>
				</div>
				<p>Hendrerit mattis justo at suscipit</p>
			</div>
			<div class="v-f03 v-a3">
				<div class="v-f02">
					<img src="images/footer01.png" alt="">
					<p>Image post List, Media</p>
				</div>
				<p>Hendrerit mattis justo at suscipit</p>
			</div>
		</div>

		<div class="v-p01">
			<div class="v-f01 v-a4">
				<h3>CONTACTS</h3>
				<i class="material-icons">folder_open</i>
			</div>
			<div>
				<input type="text" placeholder="Name*" id="v-name"> <input
					type="text" placeholder="Phone*" id="v-phone">
				<textarea rows="8" placeholder="Comments." id="v-mess"></textarea>
				<input type="submit" value="Submit " id="sub">
			</div>
		</div>
	</footer>
