<header xmlns:th="http://www.thymeleaf.org">
	<div class="v-a01">
		<ul class="v-h01">
			<li><i class="material-icons">phone</i><a> 01677448499</a></li>
			<li><i class="material-icons">email</i><a>
					itsoftvn@gmail.com</a></li>
		</ul>
		<ul class="v-h02">
			<li><a><i class="material-icons icon2">account_box</i></a></li>
			<li><a><i class="material-icons icon3">add_shopping_cart</i></a></li>
		</ul>
	</div>
	<div class="v-b01">
		<div class="v-h05">
			<img src="images/logo.png" alt="">
		</div>

		<div class="v-h03 ">
			<ul class="v-i01">
				<li><a th:href="@{/admin/}">Admin</a></li>
				<li><a th:href="@{/product/list/1?sortField=name}">Product</a></li>
				<li><a th:href="@{/admin/add}">Add product</a></li>
				<li class="v-li01"><a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a></li>
			</ul>
		</div>
	</div>
	
</header>