
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<link th:href="@{/styles/cssandjs/login.css}" rel="stylesheet" />
<title>Product</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>
<body>	
	<section class="mt-6 mb-6">
		<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
    </div>
<div th:if="${#request.getParameter('error') == 'true'}"
            style="color:red;margin:10px 0px;">
         Invalid username or password!!!<br />
      </div>
     
      <h3>Enter user name and password:</h3>
    <!-- Login Form -->
     <form name='f' th:action="@{/appLogin}" method='POST' class="mt-10 mb-10">
         <table>
            <tr>
               <td>User:</td>
               <td><input type="text" id="login" name='username' value=''></td>
            </tr>
            <tr>
               <td>Password:</td>
               <td><input type='password' id="password" name='password' /></td>
            </tr>
            <tr>
               <td>Remember Me?</td>
               <td><input type="checkbox" name="remember-me" /></td>
            </tr>            
            <tr>
               <td><input name="submit" type="submit" value="submit" /></td>
            </tr>
         </table>
      </form>
    
  </div>
</div>
	</section>
</body>
</html>