<!DOCTYPE html>
<html
 xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
      <title>Student List</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div>
	<table border="1">
            <tr>
            	<th>Id</th>
            	<th>Name</th>
               <th>Mark</th>
               <th></th>
            </tr>
            <tr th:each ="student : ${students}">
            	<td th:utext="${student.id}">...</td>
            	<td th:utext="${student.name}">...</td>
               <td th:utext="${student.mark}">...</td>
               <td>
               <a th:href="@{/updateStudent(stid=${student.id})}">Update</a>|               
               <a th:href="@{/deleteStudent(stid=${student.id})}">Delete</a>
               </td>
            </tr>
         </table>
         
         <p class="error-message" th:utext="${error}"></p>
</div>
         
</body>
</html>