<!DOCTYPE html>
<html
 xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
      <title>Student From</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div>
	<form th:action="@{/createStudent}" th:object=${student} method="post">
  <label >ID:</label><br>
  <input th:field="*{id}"><br>
  <label >Name:</label><br>
  <input th:field="*{name}"><br>
  <label >Class:</label><br>
  <input th:field="*{class_}"><br>
  <label for="">Mark:</label><br>
  <input th:field="*{mark}"><br><br>
  <input type="submit" value="Submit">
</form> 
</div>
         
</body>
</html>